button {
    transition: 0.5s;
    width: 30px;
    height: 30px;

    background: rgb(150, 250, 200);
    border: 1px solid rgba(0,0,0,0.3);
    margin: 0 1px;
}

button:hover {
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

#search-container, #navigator-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

    margin: 0 auto;
} 


#searchText {
    height: 26px;
}

#searchBtn {
    width: min-content;
    height: 30px;

    padding: 0 10px;
    border-radius: 5px;
}

#prevPageBtn {
    border-radius: 10px 0 0 10px;
}

#nextPageBtn {
    border-radius: 0 10px 10px 0;
}

#inputPage {
    text-align: center;
    width: 50px;
    height: 26px;
    margin: 0 1px;
}

@media (min-width:1000px){
    button,input {
        font-size: 1.4rem;
        border-width: 1px;
    }
    button {
        width: 50px;
        height: 50px;
    }

    #searchBtn{ 
        height: 50px;
    }

    #searchText {
        height: 46px;
    }
    #inputPage {
        width: 80px;
        height: 46px;
    }
}

@media (min-width:2000px){
    button,input {
        font-size: 2.4rem;
        border-width: 4px;
    }
    button {
        width: 90px;
        height: 90px;
        margin: 0 4px;
    }

    #searchBtn{ 
        height: 90px;
    }

    #searchText {
        height: 86px;
    }
    #inputPage {
        width: 120px;
        height: 86px;
    }
}